body {
    overflow-y: hidden;
}

table, td {
    border: 1px solid;
    text-align: center;
}

h1, h2, h3 {
    color: #33334d;
}

h2 {
    font-size: 20px;
}

a {
    font-size: 20px;
    color: #7070db;
}

a:hover {
    color: #3333cc;
}

#intext {
    font-size: 16px;
}

table {
    color: #33334d;
}

table {
    border-collapse: collapse;
}

body {
    background-color: #d1d1e0;
}

.timeTable {
    margin-top: 2em;
    width: 100%;
}

.tableLabel {
    font-weight: bold;
}

.content {
    width: 60%;
    margin: auto;
    text-align: center;
}

.graph {
    display: block;
    width: 70%;
    margin: auto;
}

.links {
    display: flex;
    justify-content: space-around;
}