{% load static %}
<!doctype html>
<html>
    <head>
        <title>Tracker</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
        <div class="content">
            <h1>Average Occupancy over Time</h1>
            <div class="links">
                <a href="https://github.com/Oleby0406/Tracker" target="_blank" class="github">Github</a>
                <a href="{% static 'libraryCollectedData.txt' %}" target="_blank">Raw data</a>
            </div>
            <p>Tracking the occupancy of the UCSD Geisel Library by scraping
                the occupancy from the 
                <a id="intext" href="https://library.ucsd.edu/assets/availability/mobile/index.html"> library website.</a> 
                The data is collected every half an hour from 
                12:00pm until the closing time every day of the week. Then the 
                occupancy at each time is averaged across every day
                collected to obtain the numbers below. 
            </p>
            <h3>{{ timeRange }}</h3>
            <img src="{% static 'graph.png' %}" class="graph">
            <table class = "timeTable">
                <tr>
                    <td class="tableLabel">Time</td>
                    {% for time in times %}
                        <td>{{time}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="tableLabel">Average Occupancy</td>
                    {% for average in averages %}
                        <td>{{average}}</td>
                    {% endfor %}
                </tr>
            </table>
            <h2>{{ min }}</h2>
            <h2>{{ max }}</h2>
        </div>
    </body>
</html>