{% load static %}
<!doctype html>
<html>
    <head>
        <title>Tracker</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
        <h1>Average Occupancy over Time</h1>
        <a href="#">Github</a>
        <h3>{{ timeRange }}</h3>
        <img src="{% static 'graph.png' %}">
        <table class = "timeTable">
            <tr>
                <td class="tableLabel">Time</td>
                {% for time in times %}
                    <td>{{time}}</td>
                {% endfor %}
            </tr>
            <tr>
                <td class="tableLabel">Average Occupancy</td>
                {% for average in averages %}
                    <td>{{average}}</td>
                {% endfor %}
            </tr>
        </table>
        <h2>{{ min }}</h2>
        <h2>{{ max }}</h2>
    </body>
</html>